
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Molengo&display=swap');

@import 'variables';

@import "~bootswatch/dist/cosmo/_variables";
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/cosmo/_bootswatch";

@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

body{
    font-family: 'Molengo', sans-serif;
}
.breadcrumb {
    background-color: #f7f9fb;
}
.nav-link .svg-inline--fa {
    font-size: smaller;
}
.mt-180{
    margin-top: 180px;
}
.mt-67 {
    margin-top: 67px;
}
.text-align-center {
    text-align: center;
}
.empty-image-placeholder {
    width: 30%;
    margin-top: 150px;
    margin-bottom: 20px;
}